<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{15,2},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,82}</string>
                <key>spriteSourceSize</key>
                <string>{55,82}</string>
                <key>textureRect</key>
                <string>{{141,166},{55,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_bullet1_explode_particle0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{29,2},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_bullet_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,39}</string>
                <key>spriteSourceSize</key>
                <string>{18,39}</string>
                <key>textureRect</key>
                <string>{{71,2},{18,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_bullet_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{394,2},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_bullet_1_par.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{2,2},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_decoration_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-23}</string>
                <key>spriteSize</key>
                <string>{64,18}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{279,2},{64,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_cover0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,98},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_cover1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{70,98},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_cover2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{138,98},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_cover3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{206,98},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_dirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{274,98},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{342,98},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_grass_decorate_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-24}</string>
                <key>spriteSize</key>
                <string>{60,16}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{151,2},{60,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_grass_decorate_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-24}</string>
                <key>spriteSize</key>
                <string>{60,16}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{215,2},{60,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_grass_decorate_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-23}</string>
                <key>spriteSize</key>
                <string>{54,18}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{93,2},{54,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_grass_decorate_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{192,156}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{198,852},{192,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_grass_decorate_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-28}</string>
                <key>spriteSize</key>
                <string>{192,136}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{2,852},{192,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_grass_decorate_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{2,662},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_grass_decorate_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{126,186}</string>
                <key>spriteSourceSize</key>
                <string>{128,192}</string>
                <key>textureRect</key>
                <string>{{277,662},{126,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_grass_decorate_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{128,248}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{2,1012},{128,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_grass_decorate_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{134,1012},{256,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_physics.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{410,98},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_rock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,166},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick_attack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{134,662},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick_attack_bk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,237}</string>
                <key>spriteSourceSize</key>
                <string>{239,239}</string>
                <key>textureRect</key>
                <string>{{241,1264},{237,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick_attack_bk_effect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{116,1}</string>
                <key>spriteSize</key>
                <string>{20,92}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{370,2},{20,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,235}</string>
                <key>spriteSourceSize</key>
                <string>{235,235}</string>
                <key>textureRect</key>
                <string>{{2,1264},{235,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick_large_effect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{117,-1}</string>
                <key>spriteSize</key>
                <string>{19,91}</string>
                <key>spriteSourceSize</key>
                <string>{265,265}</string>
                <key>textureRect</key>
                <string>{{347,2},{19,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{70,166},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{88,424},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{192,424},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{296,424},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man_attack_far_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-78}</string>
                <key>spriteSize</key>
                <string>{60,114}</string>
                <key>spriteSourceSize</key>
                <string>{160,270}</string>
                <key>textureRect</key>
                <string>{{200,166},{60,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man_attack_near_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-77}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,270}</string>
                <key>textureRect</key>
                <string>{{400,424},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man_attack_near_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-78}</string>
                <key>spriteSize</key>
                <string>{88,114}</string>
                <key>spriteSourceSize</key>
                <string>{160,270}</string>
                <key>textureRect</key>
                <string>{{2,544},{88,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man_attack_near_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-77}</string>
                <key>spriteSize</key>
                <string>{64,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,270}</string>
                <key>textureRect</key>
                <string>{{410,166},{64,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man_attack_near_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-78}</string>
                <key>spriteSize</key>
                <string>{82,114}</string>
                <key>spriteSourceSize</key>
                <string>{160,270}</string>
                <key>textureRect</key>
                <string>{{2,424},{82,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man_attack_near_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-77}</string>
                <key>spriteSize</key>
                <string>{74,116}</string>
                <key>spriteSourceSize</key>
                <string>{160,270}</string>
                <key>textureRect</key>
                <string>{{290,290},{74,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man_attack_near_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-78}</string>
                <key>spriteSize</key>
                <string>{96,114}</string>
                <key>spriteSourceSize</key>
                <string>{160,270}</string>
                <key>textureRect</key>
                <string>{{186,544},{96,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man_jump_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-79}</string>
                <key>spriteSize</key>
                <string>{74,112}</string>
                <key>spriteSourceSize</key>
                <string>{160,270}</string>
                <key>textureRect</key>
                <string>{{130,290},{74,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man_jump_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-89}</string>
                <key>spriteSize</key>
                <string>{82,92}</string>
                <key>spriteSourceSize</key>
                <string>{160,270}</string>
                <key>textureRect</key>
                <string>{{264,166},{82,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man_jump_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-70}</string>
                <key>spriteSize</key>
                <string>{50,130}</string>
                <key>spriteSourceSize</key>
                <string>{160,270}</string>
                <key>textureRect</key>
                <string>{{2,290},{50,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man_run_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-74}</string>
                <key>spriteSize</key>
                <string>{78,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,270}</string>
                <key>textureRect</key>
                <string>{{208,290},{78,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man_run_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-78}</string>
                <key>spriteSize</key>
                <string>{70,114}</string>
                <key>spriteSourceSize</key>
                <string>{160,270}</string>
                <key>textureRect</key>
                <string>{{56,290},{70,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man_run_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-73}</string>
                <key>spriteSize</key>
                <string>{66,124}</string>
                <key>spriteSourceSize</key>
                <string>{160,270}</string>
                <key>textureRect</key>
                <string>{{368,290},{66,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man_run_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-74}</string>
                <key>spriteSize</key>
                <string>{88,114}</string>
                <key>spriteSourceSize</key>
                <string>{160,270}</string>
                <key>textureRect</key>
                <string>{{94,544},{88,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man_stay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-75}</string>
                <key>spriteSize</key>
                <string>{56,120}</string>
                <key>spriteSourceSize</key>
                <string>{160,270}</string>
                <key>textureRect</key>
                <string>{{350,166},{56,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{178,54}</string>
                <key>spriteSourceSize</key>
                <string>{192,64}</string>
                <key>textureRect</key>
                <string>{{286,544},{178,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_point_particle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{47,2},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>demo-1.png</string>
            <key>size</key>
            <string>{486,1503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bacfdd1d6bf85721347bc3fe5f3d43fe:d43fbb1525a163c5b85860e58bf90fc4:7d8a3e3b56a5515909752e4b741f662a$</string>
            <key>textureFileName</key>
            <string>demo-1.png</string>
        </dict>
    </dict>
</plist>
