<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,82}</string>
                <key>spriteSourceSize</key>
                <string>{55,82}</string>
                <key>textureRect</key>
                <string>{{209,70},{55,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_bullet_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{475,2},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_bullet_1_par.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{2,2},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_decoration_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-23}</string>
                <key>spriteSize</key>
                <string>{64,18}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{143,2},{64,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_cover0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{543,2},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_cover1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{611,2},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_cover2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{679,2},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_cover3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{747,2},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_dirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{815,2},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{883,2},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_grass_decorate_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-24}</string>
                <key>spriteSize</key>
                <string>{60,16}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{15,2},{60,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_grass_decorate_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-24}</string>
                <key>spriteSize</key>
                <string>{60,16}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{79,2},{60,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_grass_decorate_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-23}</string>
                <key>spriteSize</key>
                <string>{54,18}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{211,2},{54,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_grass_decorate_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{192,156}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{2,331},{192,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_grass_decorate_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-28}</string>
                <key>spriteSize</key>
                <string>{192,136}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{670,188},{192,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_grass_decorate_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{224,188},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_grass_decorate_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{126,186}</string>
                <key>spriteSourceSize</key>
                <string>{128,192}</string>
                <key>textureRect</key>
                <string>{{198,331},{126,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_grass_decorate_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{128,248}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{808,331},{128,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_grass_decorate_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{356,188},{256,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_physics.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,70},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_map_tile_rock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{70,70},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick_attack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{866,188},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick_attack_bk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,237}</string>
                <key>spriteSourceSize</key>
                <string>{239,239}</string>
                <key>textureRect</key>
                <string>{{567,331},{237,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick_attack_bk_effect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{116,1}</string>
                <key>spriteSize</key>
                <string>{20,92}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{291,70},{20,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,235}</string>
                <key>spriteSourceSize</key>
                <string>{235,235}</string>
                <key>textureRect</key>
                <string>{{328,331},{235,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick_large_effect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{117,-1}</string>
                <key>spriteSize</key>
                <string>{19,91}</string>
                <key>spriteSourceSize</key>
                <string>{265,265}</string>
                <key>textureRect</key>
                <string>{{268,70},{19,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{138,70},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{401,70},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{505,70},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{609,70},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man_jump_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-79}</string>
                <key>spriteSize</key>
                <string>{74,112}</string>
                <key>spriteSourceSize</key>
                <string>{160,270}</string>
                <key>textureRect</key>
                <string>{{795,70},{74,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man_jump_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-89}</string>
                <key>spriteSize</key>
                <string>{82,92}</string>
                <key>spriteSourceSize</key>
                <string>{160,270}</string>
                <key>textureRect</key>
                <string>{{315,70},{82,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man_jump_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-70}</string>
                <key>spriteSize</key>
                <string>{50,130}</string>
                <key>spriteSourceSize</key>
                <string>{160,270}</string>
                <key>textureRect</key>
                <string>{{616,188},{50,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man_run_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-74}</string>
                <key>spriteSize</key>
                <string>{78,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,270}</string>
                <key>textureRect</key>
                <string>{{713,70},{78,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man_run_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-78}</string>
                <key>spriteSize</key>
                <string>{70,114}</string>
                <key>spriteSourceSize</key>
                <string>{160,270}</string>
                <key>textureRect</key>
                <string>{{873,70},{70,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man_run_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-73}</string>
                <key>spriteSize</key>
                <string>{66,124}</string>
                <key>spriteSourceSize</key>
                <string>{160,270}</string>
                <key>textureRect</key>
                <string>{{154,188},{66,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man_run_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-74}</string>
                <key>spriteSize</key>
                <string>{88,114}</string>
                <key>spriteSourceSize</key>
                <string>{160,270}</string>
                <key>textureRect</key>
                <string>{{2,188},{88,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man_stay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-75}</string>
                <key>spriteSize</key>
                <string>{56,120}</string>
                <key>spriteSourceSize</key>
                <string>{160,270}</string>
                <key>textureRect</key>
                <string>{{94,188},{56,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{178,54}</string>
                <key>spriteSourceSize</key>
                <string>{192,64}</string>
                <key>textureRect</key>
                <string>{{293,2},{178,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_point_particle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{269,2},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>demo-1.png</string>
            <key>size</key>
            <string>{1007,581}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:448463c750146ec21c2c2e99bb57bc21:fd024c7ffd99e9bfcc000f333e96e150:7d8a3e3b56a5515909752e4b741f662a$</string>
            <key>textureFileName</key>
            <string>demo-1.png</string>
        </dict>
    </dict>
</plist>
