<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loadingAct0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,318}</string>
                <key>spriteSourceSize</key>
                <string>{318,318}</string>
                <key>textureRect</key>
                <string>{{474,530},{318,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadingAct1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{471,471}</string>
                <key>spriteSourceSize</key>
                <string>{471,471}</string>
                <key>textureRect</key>
                <string>{{1,530},{471,471}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mapDrawWaitAct0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{527,527}</string>
                <key>spriteSourceSize</key>
                <string>{527,527}</string>
                <key>textureRect</key>
                <string>{{1,1},{527,527}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mapDrawWaitAct1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{530,1},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loadingPage.png</string>
            <key>size</key>
            <string>{793,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98f598d0206f988a1230a7d25a632ecb:7bfab557af474580e25434581fbbf4ca:3cc6dd2dbb7d0c6e8bcc5d4b6c33d041$</string>
            <key>textureFileName</key>
            <string>loadingPage.png</string>
        </dict>
    </dict>
</plist>
